@font-face {
font-display: swap;
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.TTF') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}

#counter {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#counter:hover {
  color: #0ccac4;
  opacity: 0.9;
}

#counter:focus {
  outline: none;
}
