button {
  padding: 20px;
  border: 2px solid blue;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
  background: yellow;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #fff;
  border: 2px solid grey;
}
